<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Politicas-avisos</title>
  <link rel="stylesheet" href="politicas-avisos.css" />
</head>
<body>
<div class="box-small">Lorem Ipsum</div>

<div class="box-large">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
    risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
    nec, ultricies sed, dolor.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed non risus. Suspendisse lectus
    tortor, dignissim sit amet, adipiscing nec, ultricies sed,
    dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
    adipiscing nec, ultricies sed, dolor.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed non risus. Suspendisse lectus
    tortor, dignissim sit amet, adipiscing nec, ultricies sed,
    dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
    adipiscing nec, ultricies sed, dolor.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Sed non risus. Suspendisse lectus
    tortor, dignissim sit amet, adipiscing nec, ultricies sed,
    dolor.
  </p>
</div>
</body>
</html>
