<link rel="stylesheet" href="card-resumen.css">
<div class="news-card">
  <div class="news-image-container" style="background-image: url('../../../public/images/vienna-reyes-qCrKTET_09o-unsplash.jpg');">
    <div class="news-overlay">
      <span class="news-category">Resumen</span>
      <span class="news-date">24 Feb, 2026</span>
    </div>
  </div>

  <div class="news-body">
    <h2 class="news-title">Crónica: El Clásico que definió la temporada</h2>
    <p class="news-excerpt">Un análisis profundo sobre las tácticas y los momentos clave que marcaron el enfrentamiento entre Madrid y Barca...</p>
    <a href="#" class="news-read-more">Leer más &rarr;</a>
  </div>
</div>