<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Plantilla Demo</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
<!-- Footer -->
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-brand">
                    <span class="logo"
                    >Marca<span class="highlight">Sportly</span></span
                    >
      <p>© 2026 Sportly. Todos los derechos reservados.</p>
    </div>

    <div class="footer-links">
      <a href="#">Sobre nosotros</a>
      <a href="#">Política de privacidad</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Soporte</a>
    </div>
  </div>
</footer>
</body>
</html>