<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Barra de Navegación Deportes</title>
  <link rel="stylesheet" href="navbar-entre-deportes.css" />
</head>
<body>
<header class="sports-hero-container">
  <img
    src="../../../public/images/vienna-reyes-qCrKTET_09o-unsplash.jpg"
    alt="Imagen Deportes"
    class="sports-hero-img"
  />
</header>

<nav id="nav-sports-filter" class="nav-sports-bar">
  <ul class="nav-sports-list">
    <li><a href="#" class="nav-sports-link active">Todos</a></li>
    <li><a href="#" class="nav-sports-link">Fútbol</a></li>
    <li><a href="#" class="nav-sports-link">Baloncesto</a></li>
    <li><a href="#" class="nav-sports-link">Tennis</a></li>
    <li><a href="#" class="nav-sports-link">F1</a></li>
  </ul>
</nav>

<!-- Contenido de ejemplo -->
<main class="content"></main>
</body>
</html>
