
  <div class="legal-container">
    <!-- SIDEBAR -->
    <aside class="sidebar" id="legalSidebar">
      <h2>Legal</h2>
      <nav>
        <ul>
          <li><a href="#">Aviso Legal</a></li>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Política de Cookies</a></li>
          <li><a href="#">Declaración de Accesibilidad</a></li>
        </ul>
      </nav>
    </aside>
    <!-- BOTÓN DE MENÚ -->
    <button class="menuButton" onclick="toggleNavBar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
    <!-- CONTENIDO -->
    <main class="legal-content">
      <h1>Lorem Ipsum</h1>

      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Maecenas facilisis convallis sit sed proin. Est sit
          donec rhoncus phasellus justo at massa.
        </p>
      </div>
    </main>
  </div>