<link rel="stylesheet" href="card.css">

<a href="/Sportly/src/templates/template-card-resumen-popup/card-resumen-popup.html" class="card-link">
  <div class="card">

    <div class="card-header"
         style="background-image: url('../../../public/images/vienna-reyes-qCrKTET_09o-unsplash.jpg');">
      <span class="badge">F&uacute;tbol</span>
    </div>

    <div class="card-content">
      <h3>Madrid VS Barca</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>

  </div>
</a>