body {
    font-family: Arial;
    margin: 0;
}

/* Imagen superior */
.header img {
    width: 100%;
}

/* Navbar básica */
.navbar {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.navbar a {
    margin: 10px;
    text-decoration: none;
    color: black;
}
