<link rel="stylesheet" href="header.css" />
<header class="navbar">
  <div class="logo">
    <a href="../../pages/pagina-inicio/inicio.html"><img src="../../../public/images/marca-icono.png" alt="marca icono"/></a>
  </div>

  <nav>
    <ul class="nav-links">
      <li><a href="../../pages/pagina-inicio/inicio.html">Inicio</a></li>
      <li><a href="../../pages/pagina-resumen/resumen.html">Resumen</a></li>
      <li><a href="../../pages/pagina-calendario/calendario.html">Calendario</a></li>
    </ul>
  </nav>

  <div class="user-area">
    <a href="../../pages/pagina-login/login.html" style="text-decoration: none;">
      <button class="login">Login</button>
    </a>

    <a href="../../pages/pagina-gestion-usuario/gestion-usuario.html">
      <img
        id="userAvatar"
        src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
        alt="Usuario"
      />
    </a>
  </div>
</header>