.sidebar-legal {
    width: 280px;
    background-color: #d1d1d1;
    height: 100vh;
    padding: 60px 30px;
    box-sizing: border-box;
    font-family: sans-serif; /* Fuente limpia como la imagen */
}

.sidebar-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #000;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 30px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.sidebar-nav a.active {
    color: #4CAF50; /* Verde de tu imagen */
}